@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    Layout = "_Dashboard";
    ViewData["Title"] = "My Service";
}
<div class="dashboard-header clearfix">
    <div class="row">
        <div class="col-sm-12 col-md-6"><h4>My Service</h4></div>
        <div class="col-sm-12 col-md-6">
            <div class="breadcrumb-nav">
                <ul>
                    <li>
                        <a href="index">Index</a>
                    </li>
                    <li>
                        <a href="dashboard">Dashboard</a>
                    </li>
                    <li class="active">My Service</li>
                </ul>
            </div>
        </div>
    </div>
</div>
<div class="dashboard-list">
    <h3>My Service List</h3>
    <table class="manage-table">
        <tbody>
            <tr class="responsive-table">
                <td class="listing-photoo">
                    <img src="img/properties/properties-1.png" alt="listing-photo" class="img-fluid">
                </td>
                <td class="title-container">
                    <h2><a href="#">Travel To England</a></h2>
                    <h5 class="d-none d-xl-block d-lg-block d-md-block"><i class="flaticon-pin"></i> 123 Kathal St. Tampa City, </h5>
                    <h6 class="table-property-price">$900 / monthly</h6>
                </td>
                <td class="expire-date">4.01.2018</td>
                <td class="action">
                    <a href="#"><i class="fa fa-pencil"></i> Edit</a>
                    <a href="#"><i class="fa  fa-eye-slash"></i> Hide</a>
                    <a href="#" class="delete"><i class="fa fa-remove"></i> Delete</a>
                </td>
            </tr>
            <tr class="responsive-table">
                <td class="listing-photoo">
                    <img src="img/properties/properties-2.png" alt="listing-photo" class="img-fluid">
                </td>
                <td class="title-container">
                    <h2><a href="#">Amazing Hotel</a></h2>
                    <h5 class="d-none d-xl-block d-lg-block d-md-block"><i class="flaticon-pin"></i> 123 Kathal St. Tampa City, </h5>
                    <h6 class="table-property-price">$900 / monthly</h6>
                </td>
                <td class="expire-date">4.01.2018</td>
                <td class="action">
                    <a href="#"><i class="fa fa-pencil"></i> Edit</a>
                    <a href="#"><i class="fa  fa-eye-slash"></i> Hide</a>
                    <a href="#" class="delete"><i class="fa fa-remove"></i> Delete</a>
                </td>
            </tr>
            <tr class="responsive-table">
                <td class="listing-photoo">
                    <img src="img/properties/properties-3.png" alt="listing-photo" class="img-fluid">
                </td>
                <td class="title-container">
                    <h2><a href="#">Royal Botanic Gardens Sydney</a></h2>
                    <h5 class="d-none d-xl-block d-lg-block d-md-block"><i class="flaticon-pin"></i> 123 Kathal St. Tampa City, </h5>
                    <h6 class="table-property-price">$900 / monthly</h6>
                </td>
                <td class="expire-date">4.01.2018</td>
                <td class="action ">
                    <a href="#"><i class="fa fa-pencil"></i> Edit</a>
                    <a href="#"><i class="fa  fa-eye-slash"></i> Hide</a>
                    <a href="#" class="delete"><i class="fa fa-remove"></i> Delete</a>
                </td>
            </tr>
            <tr class="responsive-table">
                <td class="listing-photoo">
                    <img src="img/properties/properties-1.png" alt="listing-photo" class="img-fluid">
                </td>
                <td class="title-container">
                    <h2><a href="#">Radisson hotel</a></h2>
                    <h5 class="d-none d-xl-block d-lg-block d-md-block"><i class="flaticon-pin"></i> 123 Kathal St. Tampa City, </h5>
                    <h6 class="table-property-price">$900 / monthly</h6>
                </td>
                <td class="expire-date">4.01.2018</td>
                <td class="action">
                    <a href="#"><i class="fa fa-pencil"></i> Edit</a>
                    <a href="#"><i class="fa  fa-eye-slash"></i> Hide</a>
                    <a href="#" class="delete"><i class="fa fa-remove"></i> Delete</a>
                </td>
            </tr>
        </tbody>
    </table>
</div>