@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<!-- Sub banner start -->
<div class="sub-banner">
    <div class="container breadcrumb-area">
        <div class="breadcrumb-areas">
            <h1>Services List</h1>
            <ul class="breadcrumbs">
                <li><a class="dropdown-item" asp-area="" asp-controller="Home" asp-action="Index" >Home</a></li>
                <li class="active">Services List</li>
            </ul>
        </div>
    </div>
</div>
<!-- Sub Banner end -->
<!-- Properties section start -->
<div class="properties-section content-area">
    <div class="container">
        <div class="row">
            <div class="col-lg-4 col-md-12">
                <div class="sidebar-left">
                    <!-- Advanced search start -->
                    <div class="widget advanced-search widget-2">
                        <img src="img/bg-3.png" alt="properties" class="img-fluid">
                    </div>
                </div>
            </div>
            <div class="col-lg-8 col-md-12">
                <!-- Option bar start -->
                <div class="option-bar clearfix">
                    <div class="sorting-options2">
                        <span class="sort">Sort by:</span>
                        <select class="selectpicker search-fields" name="default-order">
                            <option>Default Order</option>
                            <option>Price High to Low</option>
                            <option>Price: Low to High</option>
                            <option>Newest Properties</option>
                            <option>Oldest Properties</option>
                        </select>
                    </div>
                </div>
                <!-- Property box 2 start -->
                <div class="property-box-2">
                    <div class="row">
                        <div class="col-lg-5 col-md-5 col-pad">
                            <div class="property-thumbnail">
                                <a href="#" class="property-img">
                                    <img src="img/properties/properties-1.png" alt="properties" class="img-fluid">
                                   
                                    <div class="price-box"><span>$850.00</span> month</div>
                                </a>
                            </div>
                        </div>
                        <div class="col-lg-7 col-md-7 col-pad align-self-center">
                            <div class="detail">
                                <h3 class="title">
                                    <a class="" asp-area="" asp-controller="ServiceDetail" asp-action="Index">Catering Service</a>
                                </h3>
                                <h5 class="location">
                                    <a href="properties-details.html">
                                        <i class="flaticon-pin"></i>20-21 Av. Heroinas. Cochabamba City
                                    </a>
                                </h5>
                                <ul class="facilities-list clearfix">
                                    <li>
                                        <i class="flaticon-user"></i> 3 Persons
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="property-box-2">
                    <div class="row">
                        <div class="col-lg-5 col-md-5 col-pad">
                            <div class="property-thumbnail">
                                <a href="#" class="property-img">
                                    <img src="img/properties/properties-2.png" alt="properties" class="img-fluid">
                                    <div class="tag">Featured</div>
                                    <div class="price-box"><span>$850.00</span> month</div>
                                </a>
                            </div>
                        </div>
                        <div class="col-lg-7 col-md-7 col-pad align-self-center">
                            <div class="detail">
                                <h3 class="title">
                                    <a class="" asp-area="" asp-controller="ServiceDetail" asp-action="Index">Another Service</a>
                                </h3>
                                <h5 class="location">
                                    <a href="properties-details.html">
                                        <i class="flaticon-pin"></i>20-21 Kathal St. Tampa City, FL
                                    </a>
                                </h5>
                                <ul class="facilities-list clearfix">
                                    <li>
                                        <i class="flaticon-user"></i> 3 Persons
                                    </li> 
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Page navigation start -->
                <div class="pagination-box text-center">
                    <nav aria-label="Page navigation example">
                        <ul class="pagination">
                            <li class="page-item">
                                <a class="page-link" href="#"><i class="fa fa-angle-left"></i></a>
                            </li>
                            <li class="page-item"><a class="page-link active" href="#">1</a></li>
                            <li class="page-item"><a class="page-link" href="#">2</a></li>
                            <li class="page-item"><a class="page-link" href="#">3</a></li>
                            <li class="page-item">
                                <a class="page-link" href="#"><i class="fa fa-angle-right"></i></a>
                            </li>
                        </ul>
                    </nav>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Properties section end -->
<!-- Intro section start -->
<div class="intro-section">
    <div class="container">
        <div class="row">
            <div class="col-lg-9 col-md-8 col-sm-12">
                <div class="intro-text">
                    <h3>Do You Have Questions ?</h3>
                </div>
            </div>
            <div class="col-lg-3 col-md-4 col-sm-12">
                <a href="contact.html" class="btn btn-md">Get in Touch</a>
            </div>
        </div>
    </div>
</div>
<!-- Intro section end -->